body{
background-color: black;
}
.todo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-function{
    width: 60%;
    height: 70vh;
    background-color: white;
    padding: 30px;
}
p{
    color: white;
}
#input-box{
    width: 100%;
    height: 5rem;
    background-color: yellow;
    color: black;
}
button{
    background-color: green;
    color: black;
    padding: 25px 50px;
}
#chatInput{
    padding: 30px;
}